body{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
    margin: 0px;
    height:100%;
    width:100%;
    min-width:1000px;
    min-height:1000px;
}
.container{
    background: transparent;
    width: 100%;
    display: inline;
    display: flex;
    justify-content: space-between;
}
li{
    display: inline;
    margin-right: 40px;
    float: right;
    margin-top: 60px;
}
.logo{
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    font-style: normal;
    margin-left: 15px;
    margin-top: 20px;
}
li:hover{
    color: brown;
    cursor: pointer;
}
.wrapper{
    border: 2px solid skyblue;
    border-radius: 10px;
    backdrop-filter: blur(20px);
    background-color: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    padding: 30px 40px;
    width: 250px;
    height: 350px;
    margin-left: 1000px;
    margin-top: 100px;
    margin-right: 20px;
    align-content: center;
}
.wrapper h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 44px;
    text-align: center;
    color: blue;
}
.input-box input{
    border: 2px solid whitesmoke;
    border-radius: 12px;
    height: 10px;
    padding: 20px 45px 20px 20px;
    margin: 10px;
    position: relative;
}
div.info{
    width: 0px;
    padding: 0px;
    margin: 0px;
    height: 0px;
}
.info2{
    color: blueviolet;
    margin-top: 60px;
    margin-left: 80px;
}
.remember-forgot a{
    margin-left: 20px;
}
button{
    background-color: white;
    cursor: pointer;
    font-weight: 600;
    width: 100px;
    height: 30px;
    border: 2px blaxk;
    border-radius: 12px;
    margin-left: 70px;
    margin-top: 15px;
}
button:hover{
    background-color: skyblue;
}
.pictures img{
    width: 245px;
    margin-left: 100px;
    margin-top: 12px;
}
